body {
	line-height: 1.5rem;
    font-size: 12px;
    font-family: Calibri;
}

img {
    max-width: 100%;
}

a {
    color: #4C638F;
}

.form-control, .form-select {
    font-size: inherit;
    border-radius: 0;
}
.btn {
    padding: 3px 6px;
    font-size: inherit;
    border-radius: 0;
}

.alert {
    position: relative;
    padding: 6px 12px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0;
}

.alert-dismissible .btn-close {
    padding: 12px;
}

h1 {
    font-size: 18px;
    font-weight: bold;
}

.badge {
    font-size: inherit;
}

.bg-primary {
    background-color: #4C638F!important;
}

.btn-primary {
    color: #fff;
    background-color: #4C638F;
    border-color: #4C638F;
}

.bg-success {
    background-color: #6793A3!important;
}

svg {
    width: 30px;
    display: block;
}

.btn-outline-primary {
    color: #4C638F;
    border-color: #4C638F;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #4C638F;
    border-color: #4C638F;
}

.bg-secondary {
    background-color: #364874!important;
}

@media (min-width: 992px) {
    .container {
        width: 800px;
    }
}
